body {
	background: $deepDarkGray;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
}

.wrapper {
	display: grid;
	grid-template:  'aside header header' 40px
					'aside main main' 1fr
					'aside footer footer' 40px
					/ 320px 1fr 1fr;
	height: 100%;
	background: $deepDarkGray;

	&--hidden {
		overflow: hidden;
	}
}
