$white: #fff;
$black: #000;
$spaceBlack: #252525;
$deepDarkBlue: #343b4e;
$lightBeige: #f1f1f1;
$gray: #b9b9b9;
$darkGray: #adadad;
$green: #0c6d00;
$darkerGray: #909090;
$darkRed: #b10507;
$yellow: #e4e414;
