$white: #fff;
$black: #000;
$spaceBlack: #252525;
$deepDarkBlue: #343b4e;
$lightBeige: #f1f1f1;
$gray: #b9b9b9;
$darkGray: #adadad;
$green: #0c6d00;
$darkerGray: #909090;
$darkRed: #b10507;
$yellow: #e4e414;
$deepDarkGray: #1f1f1f;
$lightGreen: #5ecd4c;
$disabledGray: #565656;
$disabledLightGray: #868181;
$disabledGreen: #1c4216;
$disabledRed: #750f12;
$middleGray: #737373;
$orange: #f19c0c;
