%text {
	&--large {
		font: 34px/40px $roboto;
	}

	&--prelarge {
		font: 28px/34px $roboto;
	}

	&--uppermedium {
		font: 20px/26px $roboto;
	}

	&--medium {
		font: 18px/22px $roboto;
	}

	&--premedium {
		font: 16px/20px $roboto;
	}

	// &--small {
	// 	font: 14px/16px $roboto;
	// }

	&--tiny {
		font: 10px/12px $roboto;
	}
}
