%text {
	&--large {
		font: 24px/30px $roboto;
	}

	&--prelarge {
		font: 18px/22px $roboto;
	}

	&--medium {
		font: 16px/20px $roboto;
	}

	&--premedium {
		font: 14px/18px $roboto;
	}

	&--small {
		font: 12px/14px $roboto;
	}

	&--presmall {
		font: 10px/12px $roboto;
	}
}
