main.main(data-name="add")
	.container
		h1.main__title
			| Добавить нового пользователям
		
		form.form(action="#" method="GET")
			.form__wrap
				.form__field
					label.form__label
						span.form__name
							| ФИО
						input.form__input.form__item(data-field="FIO" name="name" type="text" placeholder="Введите ФИО" required)
				.form__field
					span.form__name
						| Подразделение/факультет
					.form__select.form__item.select(data-field="Department" data-type="NameID" data-select="depart")
						header.select__header
							span.select__value(data-title="title" data-name-id="name-id")
								| Выберите подразделение/факультет
						ul.select__list
							
							- for (let i = 0; i < 5 ; i++)
								li.select__item
									span.select__name(data-title="Химический факультет" data-name-id="ChemDep")
										| Химический факультет
				.form__field
					label.form__label
						span.form__name
							| Должность
						input.form__input.form__item(data-field="Post" name="post" type="text" placeholder="Введите должность" required)
				.form__field
					span.form__name
						| Тип идентификатора
					.form__select.form__item.select(data-field="TitleID" data-type="StatusID" data-select="type")
						header.select__header
							span.select__value(data-title="title" data-type="type")
								| Выберите тип идентификатора
						ul.select__list
							li.select__item
								span.select__name(data-title="Пластиковая карта" data-type="newCard")
									| Пластиковая карта
							li.select__item
								span.select__name(data-title="QR-код" data-type="newQR")
									| QR-код
									
			button.btn.btn--form#addUser(type="button")
				| Добавить

		.wrap.wrap--content.wrap--content-add
			.main__cards.main__cards--main
				p.main__count-wrap.main__count-wrap--depart
					span.main__count-text
						| Количество добавленых карт:&nbsp
					span.main__count.main__count--add
						| 0
			.wrap.wrap--table
				header.tab.tab--add
				.table.table--add
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Фамилия Имя Отчество
							button.btn.btn--sort(type="button" data-direction="true")
						.table__cell.table__cell--header.table__cell--post
							span.table__text.table__text--header
								| Должность
						.table__cell.table__cell--header.table__cell--department
							span.table__text.table__text--header
								| Подразделение/факультет
						.table__cell.table__cell--header.table__cell--statusid
							span.table__text.table__text--header
								| Тип идентификатора
					.table__body#tableAdd
						p.table__nothing
							| Не добавленно ни одного пользователя
	
		.info
			p.info__warn
				| Предупреждение! Не все поля заполнены
	
		.main__btns
			button.btn.btn--add-user#submitAddUser(type="button")
				| Подтвердить и отправить
