aside.control
	button.control__item.control__item--active(type="button" data-name="const")
		| Добавить постоянную карту
	button.control__item(type="button" data-name="time")
		| Добавить временную карту
	button.control__item(type="button" data-name="qr")
		| Добавить QR-код
	button.control__item(type="button" data-name="download")
		| Загрузить QR-код
	button.control__item(type="button" data-name="permis")
		| Разрешение на добавление
	button.control__item(type="button" data-name="add")
		| Добавить пользователя
	button.control__item(type="button" data-name="remove")
		| Удалить пользователя
	button.control__item(type="button" data-name="edit")
		| Редактировать пользователя
	button.control__item(type="button" data-name="request")
		| Запрос на изменение
	button.control__item(type="button" data-name="reject")
		| Отклоненные пользователи
	button.control__item(type="button" data-name="report")
		| Отчёт по изменения
