main.main(data-name="download")
	.container
		h1.main__title
			| Загрузка QR-кодов
		.wrap.wrap--content.wrap--content-download
			.main__wrap.main__wrap--download
				.main__cards
					p.main__count-wrap
						span.main__count-text
							| Количество qr-кодов:&nbsp
						span.main__count.main__count--download
							| 0
			.field
				textarea.field__textarea
					| 474F8B6C443F3D21
					| 25459BD971FA4987
					| BF16073D057E19E2
					| DB75D3D33826A0DB
					| 4D4D370EFA7E82D4
					| B7BF0A6F36BE0CBA
					| CC5932294953A5AC
					| FC94DCCA3EFE99F7
					| 7BB91A1496680564
					| 3C7BF4CDB88712D7
					| 364527EE226D2B75
					| 70A13F3F8A24AD13
					| 2473F2BE34842B98
					| 88903F4005D02DE3
					| 126F34667D98F1B2
