header.header
	.container
		.header__btns
			button.btn.btn--control(type="button" data-name="const")
				| Добавить постоянную карту
			button.btn.btn--control(type="button" data-name="time")
				| Добавить временную карту
			button.btn.btn--control(type="button" data-name="qr")
				| Добавить QR-код
			button.btn.btn--control(type="button" data-name="download")
				| Загрузить QR-код
