form.form.form--login#loginForm(method="POST" action="#")
	h3.form__title.form__title--login
		| Авторизация
	.form__fields.form__fields--login
		.form__field
			label.form__label
				span.form__name.form__name--form
					| Логин
				input.form__input.form__input--form.form__item(name="login" type="text" placeholder="Введите логин"  autocomplete="on" required)
		.form__field
			label.form__label
				span.form__name.form__name--form
					| Пароль
				input.form__input.form__input--form.form__item(name="password" type="password" placeholder="Введите пароль" autocomplete="on" required)
	button.btn.btn--form.btn--form--login#login(type="button")
		| Войти

.info
	p.info__item.info__item--error.info__item--login
		| Неправильный логин.
	p.info__item.info__item--error.info__item--password
		| Неправильный  пароль.
	p.info__item.info__item--error.info__item--empty
		| Поля логин и пароль обязятельны!
