main.main(data-name="add")
	.container
		//- .main__title-wrap
			h1.main__title
				| Добавить нового пользователя
			span.main__depart.main__depart--add(data-depart="" data-id="")
		
		form.form.form--page#addForm(action="#" method="GET")
			.form__wrap
				.form__fields
					.form__field
						label.form__label
							span.form__name.form__name--form
								| Фамилия Имя Отчество
							input.form__input.form__input--form.form__item(data-field="fio" name="fio" type="text" placeholder="Введите ФИО" required)
					.form__field
						label.form__label
							span.form__name.form__name--form
								| Должность
							input.form__input.form__input--form.form__item(data-field="post" name="post" type="text" placeholder="Введите должность" required)
					.form__field
						span.form__name.form__name--form
							| Тип идентификатора
						.form__select.select.select--form(data-field="statustitle" data-type="statusid" data-select="type")
							header.select__header.select__header--form
								span.select__value.select__value--form(data-title="title" data-type="type")
									| Выберите тип идентификатора
							ul.select__list.select__list--form
								li.select__item
									span.select__name.select__name--form(data-title="Пластиковая карта" data-type="newCard")
										| Пластиковая карта
								li.select__item
									span.select__name.select__name--form(data-title="QR-код" data-type="newQR")
										| QR-код
					.form__field
						span.form__name.form__name--form
							| Окончание действия пропуска
						.form__select.select.select--form(data-field="cardvalidtotitle" data-type="statusсardvalidto" data-select="сardvalidto")
							header.select__header.select__header--form
								span.select__value.select__value--form(data-title="title" data-сardvalidto="сardvalidto")
									| Выберите окончание действия пропуска
							ul.select__list.select__list--form
								li.select__item
									span.select__name.select__name--form(data-title="Ввести дату" data-сardvalidto="date")
										| Ввести дату
								li.select__item
									span.select__name.select__name--form(data-title="Безвременно" data-сardvalidto="infinite")
										| Безвременно
					//- .form__field.form__field--сardvalidto
						label.form__label
							span.form__name.form__name--form
								| Дата окончания
							input.form__input.form__input--form.form__item.form__item--date#addDatepicker(data-field="date" name="date" type="text" placeholder="Введите дату" required)
				.form__aside
					.form__img
						img.img.img--form(src="./images/avatar.svg" alt="user avatar")
					.form__field
						input.form__input.form__item.form__item--file#addFile(name="photoname" type="file" required)
						label.form__download(for="addFile")
							svg.icon.icon--download
								use(xlink:href="./images/sprite.svg#download")
							span.form__title.form__title--page
								| Загрузить фото
									
			button.btn.btn--form#addUser(type="button" data-type="add-user")
				| Добавить
				
		.info.info--page
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Не все поля заполненны.
			p.info__item.info__item--error.info__item--name
				| Ошибка! Имя содержит недопустимые символы. Разрешены: кириллические буквы, дефис, точка, апостроф.
			p.info__item.info__item--error.info__item--image
				| Ошибка! Не правильный формат изображение. Допустимы: giff, png, jpg, jpeg.
			p.info__item.info__item--error.info__item--short
				| Ошибка! ФИО должно состоять хотя бы из двух слов.

		.wrap.wrap--content.wrap--content-add
			.main__wrap-info
				.main__cards.main__cards--main
					p.main__count-wrap.main__count-wrap--main
						span.main__count-text
							| Количество добавляемых пользователей:&nbsp
						span.main__count.main__count--all-add
							| 0
			.wrap.wrap--table
				header.tab.tab--add
				.table.table--add
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Фамилия Имя Отчество
							button.btn.btn--sort(type="button" data-direction="true")
						.table__cell.table__cell--header.table__cell--post
							span.table__text.table__text--header
								| Должность
						.table__cell.table__cell--header.table__cell--photoname
							span.table__text.table__text--header
								| Фотография
						.table__cell.table__cell--header.table__cell--statustitle
							span.table__text.table__text--header
								| Идентификатор
						//- .table__cell.table__cell--header.table__cell--date
						//- 	span.table__text.table__text--header
						//- 		| Дата
						.table__cell.table__cell--header.table__cell--edit
							svg.icon.icon--edit.icon--edit-white
								use.icon__item(xlink:href="./images/sprite.svg#edit")
						.table__cell.table__cell--header.table__cell--delete
							svg.icon.icon--delete.icon--delete-white
								use.icon__item(xlink:href="./images/sprite.svg#delete")
					.table__body#tableAdd
						p.table__nothing
							| Не добавленно ни одного пользователя
		
		.main__btns
			button.btn#submitAddUser(type="button")
				| Подтвердить и отправить
