main.main(data-name="add")
	.container
		h1.main__title
			| Добавить нового пользователя
		span.main__depart.main__depart--add(data-depart="Химический факультет" data-id="ChemDep")
			| Химический факультет
		
		form.form#addForm(action="#" method="GET")
			.form__wrap
				.form__fields
					.form__field
						label.form__label
							span.form__name
								| ФИО
							input.form__input.form__item(data-field="fio" name="name" type="text" placeholder="Введите ФИО" required)
					//- .form__field
						span.form__name
							| Подразделение/факультет
						.form__select.form__item.select(data-field="Department" data-type="NameID" data-select="name-id")
							header.select__header
								span.select__value(data-title="title" data-name-id="name-id" data-placeholder="Выберите подразделение/факультет")
									| Выберите подразделение/факультет
							ul.select__list
								
								- for (let i = 0; i < 5 ; i++)
									li.select__item
										span.select__name(data-title="Химический факультет" data-name-id="ChemDep")
											| Химический факультет
					.form__field
						label.form__label
							span.form__name
								| Должность
							input.form__input.form__item(data-field="post" name="post" type="text" placeholder="Введите должность" required)
					.form__field
						span.form__name
							| Тип идентификатора
						.form__select.form__item.select(data-field="statustitle" data-type="statusid" data-select="type")
							header.select__header
								span.select__value(data-title="title" data-type="type" data-placeholder="Выберите тип идентификатора")
									| Выберите тип идентификатора
							ul.select__list
								li.select__item
									span.select__name(data-title="Пластиковая карта" data-type="newCard")
										| Пластиковая карта
								li.select__item
									span.select__name(data-title="QR-код" data-type="newQR")
										| QR-код
					.form__field
						span.form__name
							| Окончание действия пропуска
						.form__select.form__item.select(data-field="datetitle" data-type="datestatus" data-select="date")
							header.select__header
								span.select__value(data-title="title" data-date="date" data-placeholder="Выберите окончание действия пропуска")
									| Выберите окончание действия пропуска
							ul.select__list
								li.select__item
									span.select__name(data-title="Ввести дату" data-date="date")
										| Ввести дату
								li.select__item
									span.select__name(data-title="Безвременно" data-date="infinite")
										| Безвременно
					.form__field.form__field--hide(data-name="date")
						label.form__label
							span.form__name
								| Дата окончания
							input.form__input.form__item#addDateField(data-field="date" name="date" type="text" placeholder="Введите дату" required)
				.form__aside
					.form__img
						img.img.img--form(src="./images/avatar.svg" alt="user avatar")
					.form__field
						input.form__input.form__input--file.form__item#addFile(data-field="photofile" name="photofile" type="file" required)
						label.form__download(for="addFile")
							svg.icon.icon--download
								use(xlink:href="./images/sprite.svg#download")
							span.form__title
								| Загрузить фото
									
			button.btn.btn--form#addUser(type="button" data-type="add-user")
				| Добавить
				
		.info
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Не все поля заполненны.
			p.info__item.info__item--error.info__item--name
				| Ошибка! Имя содержит недопустимые символы. Разрешены: кириллические буквы, дефис, точка, апостроф.
			p.info__item.info__item--error.info__item--image
				| Ошибка! Не правильный формат изображение. Допустимы: giff, png, jpg, jpeg.
			p.info__item.info__item--error.info__item--short
				| Ошибка! ФИО должно состоять хотя бы из двух слов.

		.wrap.wrap--content.wrap--content-add
			.main__cards.main__cards--main
				p.main__count-wrap.main__count-wrap--depart
					span.main__count-text
						| Количество добавленых пользователей:&nbsp
					span.main__count.main__count--add
						| 0
			.wrap.wrap--table
				header.tab.tab--add
				.table.table--add
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Фамилия Имя Отчество
							button.btn.btn--sort(type="button" data-direction="true")
						.table__cell.table__cell--header.table__cell--post
							span.table__text.table__text--header
								| Должность
						//- .table__cell.table__cell--header.table__cell--department
						//- 	span.table__text.table__text--header
						//- 		| Подразделение/факультет
						.table__cell.table__cell--header.table__cell--photofile
							span.table__text.table__text--header
								| Фотография
						.table__cell.table__cell--header.table__cell--statustitle
							span.table__text.table__text--header
								| Идентификатор
						.table__cell.table__cell--header.table__cell--date
							span.table__text.table__text--header
								| Дата
						.table__cell.table__cell--header.table__cell--edit
						.table__cell.table__cell--header.table__cell--delete
					.table__body#tableAdd
						p.table__nothing
							| Не добавленно ни одного пользователя
		
		.main__btns
			button.btn#submitAddUser(type="button")
				| Подтвердить и отправить
