main.main(data-name="add")
	.container.container--add
		//- .main__title-wrap
			h1.main__title
				| Добавить нового пользователя
			span.main__depart.main__depart--add(data-depart="" data-id="")
		
		form.form.form--page#addForm(action="#" method="GET")
				
		.info.info--page

		.wrap.wrap--content.wrap--content-add
		
		.main__btns
			button.btn#submitAddUser(type="button")
				| Подтвердить и отправить
