main.main(data-name="const")
	.container
		//- .main__title-wrap
			h1.main__title
				| Добавление карт пользователям
			span.main__depart.main__depart--const(data-depart="" data-id="")

		.wrap.wrap--content.wrap--content-const
			.main__wrap-info.main__wrap-info--const
				.main__cards
					//- p.main__count-wrap
					//- 	span.main__count-text
					//- 		| Количество пользователей:&nbsp
					//- 	span.main__count.main__count--const
					//- 		| 0
					//- p.main__count-wrap
					//- 	span.main__count-text
					//- 		| Общее количество пользователей:&nbsp
					//- 	span.main__count.main__count--all-const
					//- 		| 0
				.main__switchies
					.main__switch
						.tooltip
							span.tooltip__item
								| !
							.tooltip__info.tooltip__info--refresh
								| Если данная опция включена, тогда при поступлении новых данных, они автоматически отобразятся в таблице. Перезагружать страницу не нужно.#[br]
								| Рекомендуется отключить данную функцию при работе с данными в таблице!
						.switch.switch--refresh
							label.switch__wrap.switch__wrap--head
								input.switch__input(type='checkbox')
								small.switch__btn
							span.switch__name.switch__name--disabled
								| Автообновление
			.wrap.wrap--table
				header.tab.tab--const
				.table.table--const
							
		.info.info--page
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Не всем пользователям присвоен идентификатор.
			p.info__item.info__item--warn.info__item--have
				| Предупреждение! Карта с данным кодом уже присвоена!
			p.info__item.info__item--warn.info__item--contains
				| Предупреждение! Карта с данным кодом была присвоена ранее!
			p.info__item.info__item--error.info__item--fields
				| Ошибка! Не правильно введен тип ID. Должно быть 10 цифр, без букв и символов!
	
		.main__btns
			button.btn#submitConstCard(type='button')
				| Добавить
			button.btn.btn--print(type='button')
				| Распечатать отчет
