main.main(data-name="qr")
	.container
		//- .main__title-wrap
			h1.main__title
				| Добавление QR-кодов пользователям
			span.main__depart.main__depart--qr(data-depart="" data-id="")
			
		.wrap.wrap--content.wrap--content-qr
			.main__wrap-info.main__wrap-info--qr
			.wrap.wrap--table
				header.tab.tab--qr
				.table.table--qr

		section.document
				
		.info.info--page
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Не всем пользователям присвоен идентификатор.
			p.info__item.info__item--warn.info__item--deficit
				| Предупреждение! Недостаточно qr-кодов для присвоения пользователям.
			//- p.info__item.info__item--warn.info__item--users
			//- 	| Предупреждение! Нет новых пользователей для присвоения qr-кода.
	
		.main__btns
			button.btn#submitConstQR(type='button')
				| Добавить
