main.main(data-name="download")
	.container.container--download
		//- .main__title-wrap
			h1.main__title
				| Загрузка QR-кодов
			
		.wrap.wrap--content.wrap--content-parse
			.main__wrap-info.main__wrap-info--parse
				.main__cards
							
			form.form.form--download#downloadForm(action="#" method="GET")
				.form__field
					textarea.form__item.form__item--textarea(placeholder="Загрузите текстовые коды для конвертирования")
					
			.main__btns
				button.btn#addQRCodes(type="button")
					| Добавить
						
			.info.info--page
				
		.wrap.wrap--content.wrap--content-download

		.main__btns
			button.btn#submitDownloadQR(type='button')
				| Присвоить
