main.main(data-name="download")
	.container.container--download
		//- .main__title-wrap
			h1.main__title
				| Загрузка QR-кодов
			
		.wrap.wrap--content.wrap--content-parse
			.main__wrap-info.main__wrap-info--parse
				.main__cards
							
			form.form.form--download#downloadForm(action="#" method="GET")
				.form__field
					textarea.form__item.form__item--textarea(placeholder="Загрузите текстовые коды для конвертирования")
					
			.main__btns
				button.btn#addQRCodes(type="button")
					| Добавить
						
			.info.info--page
				p.info__item.info__item--warn.info__item--have
					| Предупреждение! QR-код с такими данными уже сгенерирован!
				p.info__item.info__item--warn.info__item--contains
					| Предупреждение! QR-код с такими данными был присвоена ранее!
				p.info__item.info__item--error.info__item--codepicture
					| Ошибка! Не верно введена строка с кодом для QR изображения. #[br]
					| Должен быть код для QR изображения. Например: N-9533263293161909169-16909647123891645267
				p.info__item.info__item--error.info__item--cardid
					| Ошибка! Не верно введена строка с кодом для QR ID. #[br]
					| Код из 10 цифр и букв. Например: 31788A8476
				p.info__item.info__item--error.info__item--cardname
					| Ошибка! Не верно введена строка с кодом для QR name. #[br]
					| Код из 16 цифр и букв. Например: E3918631788A8476
				p.info__item.info__item--error.info__item--missed
					| Ошибка! Пропущена одна из трех обязательных частей qr-кода, для конвертирования.
				
		.wrap.wrap--content.wrap--content-download

		.main__btns
			button.btn#submitDownloadQR(type='button')
				| Присвоить
