main.main(data-name="edit")
	.container
		h1.main__title
			| Редактировать пользователя
		span.main__depart.main__depart--edit(data-depart="Химический факультет" data-id="ChemDep")
			| Химический факультет
		
		form.form#editForm(action="#" method="GET")
			.form__wrap
				.form__fields
					.form__field
						span.form__name
							| Пользователь
						.form__select.form__item.select(data-field="fio" data-select="fio")
							header.select__header
								span.select__value(data-title="Выберите пользователя" data-placeholder="Выберите пользователя")
									| Выберите пользователя
							ul.select__list
					.form__field
						span.form__name
							| Тип изменения
						.form__select.form__item.select(data-field="statustitle" data-type="statusid" data-select="change")
							header.select__header
								span.select__value(data-title="Выберите тип изменения" data-change="type" data-placeholder="Выберите тип изменения")
									| Выберите тип изменения
							ul.select__list
								
								- const arrChanges = ['Утеря пластиковой карты', 'Утеря QR-кода', 'Изменение ФИО', 'Изменение должности', 'Изменение фото'];
								- const arrTypeChanges = ['changeCard', 'changeQR', 'changeFIO', 'changePost', 'changeImage'];
								
								- for (let i = 0; i < arrChanges.length; i++)
									li.select__item
										span.select__name(data-title=arrChanges[i] data-change=arrTypeChanges[i])
											| #{arrChanges[i]}
					//- .form__field.form__field--hide(data-name="newpost")
						label.form__label
							span.form__name
								| Новая должность
							input.form__input.form__item(data-field="newpost" name="newpost" type="text" placeholder="Введите новую должность" required)
					//- .form__field.form__field--hide(data-name="newfio")
						label.form__label
							span.form__name
								| Новое ФИО
							input.form__input.form__item(data-field="newfio" name="newfio" type="text" placeholder="Введите новое ФИО" required)
					.form__field.form__field--hide
						span.form__item.form__item--hide.form__item--id(data-field="id")
					.form__field.form__field--hide
						span.form__item.form__item--hide.form__item--post(data-field="post")
								
				.form__aside
					.form__img
						img.img.img--form.img--form-edit(src="./images/avatar.svg" alt="user avatar")
					//- .form__field.form__field--hide(data-name="newimage")
						input.form__input.form__input--file.form__item#editFile(data-field="newphotofile" data-url="newphotourl" name="photofile" type="file" required)
						label.form__download(for="editFile")
							svg.icon.icon--download
								use(xlink:href="./images/sprite.svg#download")
							span.form__title
								| Загрузить фото
									
			button.btn.btn--form#editUser(type="button" data-type="edit-user")
				| Редактировать
				
		.info
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Не все поля заполненны.
			p.info__item.info__item--error.info__item--name
				| Ошибка! Имя содержит недопустимые символы. Разрешены: кириллические буквы, дефис, точка, апостроф.
			p.info__item.info__item--error.info__item--post
				| Ошибка! Должность содержит недопустимые символы. Разрешены: кириллические буквы, цифры, дефис, точка, апостроф.
			p.info__item.info__item--error.info__item--image
				| Ошибка! Не правильный формат изображение. Допустимы: giff, png, jpg, jpeg.
			p.info__item.info__item--error.info__item--short
				| Ошибка! ФИО должно состоять хотя бы из двух слов.

		.wrap.wrap--content.wrap--content-edit
			.main__wrap-info
				.main__cards.main__cards--main
					p.main__count-wrap.main__count-wrap--depart
						span.main__count-text
							| Количество добавленых пользователей:&nbsp
						span.main__count.main__count--edit
							| 0
			.wrap.wrap--table
				header.tab.tab--edit
				.table.table--edit
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Фамилия Имя Отчество
							button.btn.btn--sort(type="button" data-direction="true")
						.table__cell.table__cell--header.table__cell--post
							span.table__text.table__text--header
								| Должность
						.table__cell.table__cell--header.table__cell--statustitle
							span.table__text.table__text--header
								| Тип изменения
						//- .table__cell.table__cell--header.table__cell--fio.table__cell--hide
						//- 	span.table__text.table__text--header
						//- 		| Новое Фамилия Имя Отчество
						//- 	button.btn.btn--sort(type="button" data-direction="true")
						//- .table__cell.table__cell--header.table__cell--post.table__cell--hide
						//- 	span.table__text.table__text--header
						//- 		| Новая должность
						//- .table__cell.table__cell--header.table__cell--image.table__cell--hide
						//- 	span.table__text.table__text--header
						//- 		| Новая фотография
						.table__cell.table__cell--header.table__cell--edit
							svg.icon.icon--edit.icon--edit-white
								use.icon__item(xlink:href="./images/sprite.svg#edit")
						.table__cell.table__cell--header.table__cell--delete
							svg.icon.icon--delete.icon--delete-white
								use.icon__item(xlink:href="./images/sprite.svg#delete")
					.table__body#tableEdit
						p.table__nothing
							| Не добавленно ни одного пользователя
		
		.main__btns
			button.btn#submitEditUser(type="button")
				| Подтвердить и отправить
