main.main(data-name="edit")
	.container
		//- .main__title-wrap
			h1.main__title
				| Редактировать пользователя
			span.main__depart.main__depart--edit(data-depart="" data-id="")
		
		form.form.form--page#editForm(action="#" method="GET")
			.form__wrap
				.form__fields
					.form__field
						span.form__name.form__name--form
							| Пользователь
						.form__select.select.select--form(data-select="fio")
							header.select__header.select__header--form
								span.select__value.select__value--form(data-title="title" data-fio="fio")
									| Выберите пользователя
							ul.select__list.select__list--form
					.form__field
						span.form__name.form__name--form
							| Тип изменения
						.form__select.select.select--form(data-type="statusid" data-select="change")
							header.select__header.select__header--form
								span.select__value.select__value--form(data-title="title" data-change="change")
									| Выберите тип изменения
							ul.select__list.select__list--form
								
								- const arrChanges = ['Замена пластиковой карты', 'Замена QR-кода', 'Изменение ФИО', 'Изменение должности', 'Изменение фото'];
								- const arrTypeChanges = ['changeCard', 'changeQR', 'changeFIO', 'changePost', 'changeImage'];
								
								- for (let i = 0; i < arrChanges.length; i++)
									li.select__item
										span.select__name.select__name--form(data-title=arrChanges[i] data-change=arrTypeChanges[i])
											| #{arrChanges[i]}
					//- .form__field.form__field--hide(data-name="newpost")
						label.form__label
							span.form__name.form__name--form
								| Новая должность
							input.form__input.form__input--form.form__item(name="newpost" type="text" placeholder="Введите новую должность" required)
					//- .form__field.form__field--hide(data-name="newfio")
						label.form__label
							span.form__name.form__name--form
								| Новое ФИО
							input.form__input.form__input--form.form__item(name="newfio" type="text" placeholder="Введите новое ФИО" required)
								
				.form__aside
					.form__img
						img.img.img--form.img--form-edit(src="./images/avatar.svg" alt="user avatar")
					//- .form__field.form__field--hide(data-name="newimage")
						input.form__input.form__item.form__item--file#editFile(data-url="newphotourl" name="photofile" type="file" required)
						label.form__download(for="editFile")
							svg.icon.icon--download
								use(xlink:href="./images/sprite.svg#download")
							span.form__title.form__title--page
								| Загрузить фото
									
			button.btn.btn--form#editUser(type="button" data-type="edit-user")
				| Редактировать
				
		.info.info--page
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Не все поля заполненны.
			p.info__item.info__item--error.info__item--name
				| Ошибка! Имя содержит недопустимые символы. Разрешены: кириллические буквы, дефис, точка, апостроф.
			p.info__item.info__item--error.info__item--post
				| Ошибка! Должность содержит недопустимые символы. Разрешены: кириллические буквы, цифры, дефис, точка, апостроф.
			p.info__item.info__item--error.info__item--image
				| Ошибка! Не правильный формат изображение. Допустимы: giff, png, jpg, jpeg.
			p.info__item.info__item--error.info__item--short
				| Ошибка! ФИО должно состоять хотя бы из двух слов.

		.wrap.wrap--content.wrap--content-edit
			.main__wrap-info
				.main__cards.main__cards--main
					p.main__count-wrap.main__count-wrap--main
						span.main__count-text
							| Количество редактируемых пользователей:&nbsp
						span.main__count.main__count--all-edit
							| 0
			.wrap.wrap--table
				header.tab.tab--edit
				.table.table--edit
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Фамилия Имя Отчество
							button.btn.btn--sort(type="button" data-direction="true")
						.table__cell.table__cell--header.table__cell--post
							span.table__text.table__text--header
								| Должность
						.table__cell.table__cell--header.table__cell--statustitle
							span.table__text.table__text--header
								| Тип изменения
						//- .table__cell.table__cell--header.table__cell--fio
						//- 	span.table__text.table__text--header
						//- 		| Новое Фамилия Имя Отчество
						//- 	button.btn.btn--sort(type="button" data-direction="true")
						//- .table__cell.table__cell--header.table__cell--post
						//- 	span.table__text.table__text--header
						//- 		| Новая должность
						//- .table__cell.table__cell--header.table__cell--photoname
						//- 	span.table__text.table__text--header
						//- 		| Новая фотография
						.table__cell.table__cell--header.table__cell--edit
							svg.icon.icon--edit.icon--edit-white
								use.icon__item(xlink:href="./images/sprite.svg#edit")
						.table__cell.table__cell--header.table__cell--delete
							svg.icon.icon--delete.icon--delete-white
								use.icon__item(xlink:href="./images/sprite.svg#delete")
					.table__body#tableEdit
						p.table__nothing
							| Не добавленно ни одного пользователя
		
		.main__btns
			button.btn#submitEditUser(type="button")
				| Подтвердить и отправить
