main.main(data-name="permis")
	.container
		//- .main__title-wrap
			h1.main__title
				| Разрешение на добавление #[br] идентификаторов пользователям
			span.main__depart.main__depart--permis(data-depart="" data-id="")

		.wrap.wrap--content.wrap--content-permis
			.main__wrap-info.main__wrap-info--permis
			.wrap.wrap--table
				header.tab.tab--permis
				.table.table--permis
	
		.info.info--page
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Не все пользователи выбраны.
	
		.main__btns
			button.btn#submitPermis(type='button')
				| Подтвердить
