main.main(data-name="reject")
	.container
		.main__title-wrap
			h1.main__title
				| Отклоненные пользователи
			span.main__depart.main__depart--reject(data-depart="" data-id="")
			
		form.form.form--page#rejectForm(action="#" method="GET")
			.form__wrap.form__wrap--hide
			
		.wrap.wrap--content.wrap--content-reject
			.main__wrap-info
				.main__cards.main__cards--main
					p.main__count-wrap.main__count-wrap--main
						span.main__count-text
							| Количество пользователей:&nbsp
						span.main__count.main__count--all-reject
							| 0
				label.switch.switch--reject
					input.switch__input(type="checkbox")
					span.switch__name
						| Автообновление
			.wrap.wrap--table
				header.tab.tab--reject
				.table.table--reject
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Фамилия Имя Отчество
							button.btn.btn--sort(type="button" data-direction="true")
						.table__cell.table__cell--header.table__cell--post
							span.table__text.table__text--header
								| Должность
							button.btn.btn--sort(type="button" data-direction="true")
						.table__cell.table__cell--header.table__cell--statustitle
							span.table__text.table__text--header
								| Статус
						.table__cell.table__cell--header.table__cell--date
							span.table__text.table__text--header
								| Дата
						.table__cell.table__cell--header.table__cell--btn-resend
							button.btn.btn--resend#resendAll(type="button")
								| Выбрать все
						.table__cell.table__cell--header.table__cell--view
							svg.icon.icon--view.icon--view-white
								use.icon__item(xlink:href="./images/sprite.svg#view")
					.table__body.table__body--empty#tableReject
						p.table__nothing
							| Новых данных нет
							
		.main__btns
			button.btn.btn--add#submitReject(type="button")
				| Отправить
