main.main(data-name="reject")
	.container
		//- .main__title-wrap
			h1.main__title
				| Отклоненные пользователи
			span.main__depart.main__depart--reject(data-depart="" data-id="")
			
		form.form.form--page#rejectForm(action="#" method="GET")
			.form__wrap.form__wrap--user.form__wrap--hide
			
		.wrap.wrap--content.wrap--content-reject
			.main__wrap-info.main__wrap-info--reject
			.wrap.wrap--table
				header.tab.tab--reject
				.table.table--reject
							
		.info.info--page
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Ни один пользователь не выбран.
							
		.main__btns
			button.btn#submitReject(type="button")
				| Отправить
