main.main(data-name="remove")
	.container
		h1.main__title
			| Удалить пользователя
		span.main__depart.main__depart--remove(data-depart="Химический факультет" data-id="ChemDep")
			| Химический факультет
		
		form.form#removeForm(action="#" method="GET")
			.form__wrap(data-post="")
				.form__fields
					.form__field
						span.form__name
							| Пользователь
						.form__select.form__item.select(data-field="fio" data-select="fio")
							header.select__header
								span.select__value(data-title="title" data-fio="fio" data-placeholder="Выберите пользователя")
									| Выберите пользователя
							ul.select__list
					.form__field
						span.form__name
							| Причина удаления
						.form__select.form__item.select(data-field="titleid" data-type="statusid" data-select="reason")
							header.select__header
								span.select__value(data-title="title" data-reason="reason" data-placeholder="Выберите причину удаления")
									| Выберите причину удаления
							ul.select__list
								li.select__item
									span.select__name(data-title="Перевод в другое подразделение" data-reason="changeDepart")
										| Перевод в другое подразделение
								li.select__item
									span.select__name(data-title="Увольнение" data-reason="remove")
										| Увольнение
					.form__field.form__field--hide(data-name="depart")
						span.form__name
							| Новое подразделение
						.form__select.form__item.select(data-field="newdepart" data-type="newnameid" data-select="newnameid")
							header.select__header
								span.select__value(data-title="title" data-newnameid="newnameid" data-placeholder="Выберите подразделение")
									| Выберите подразделение
							ul.select__list
					.form__field.form__field--hide(data-name="date")
						label.form__label
							span.form__name
								| Дата завершения действия пропуска
							input.form__input.form__item#removeDatepicker(data-field="date" name="date" type="text" placeholder="Введите дату завершения действия пропуска" required)
					.form__field.form__field--hide
						span.form__item.form__item--hide.form__item--id(data-field="id")
					.form__field.form__field--hide
						span.form__item.form__item--hide.form__item--post(data-field="post")
							
				.form__aside
					.form__img
						img.img.img--form.img--form-remove(src="./images/avatar.svg" alt="user avatar")
								
			button.btn.btn--form#removeUser(type="button" data-type="remove-user")
				| Удалить
				
		.info
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Не все поля заполненны.

		.wrap.wrap--content.wrap--content-remove
			.main__cards.main__cards--main
				p.main__count-wrap.main__count-wrap--depart
					span.main__count-text
						| Количество удаленных пользователей:&nbsp
					span.main__count.main__count--remove
						| 0
			.wrap.wrap--table
				header.tab.tab--remove
				.table.table--remove
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Фамилия Имя Отчество
							button.btn.btn--sort(type="button" data-direction="true")
						.table__cell.table__cell--header.table__cell--post
							span.table__text.table__text--header
								| Должность
						.table__cell.table__cell--header.table__cell--statustitle
							span.table__text.table__text--header
								| Причина удаления
						//- .table__cell.table__cell--header.table__cell--newdepart.table__cell--hide
						//- 	span.table__text.table__text--header
						//- 		| Новое подразделение
						//- .table__cell.table__cell--header.table__cell--date.table__cell--hide
						//- 	span.table__text.table__text--header
						//- 		| Дата
						.table__cell.table__cell--header.table__cell--edit
							svg.icon.icon--edit.icon--edit-white
								use.icon__item(xlink:href="./images/sprite.svg#edit")
						.table__cell.table__cell--header.table__cell--delete
							svg.icon.icon--delete.icon--delete-white
								use.icon__item(xlink:href="./images/sprite.svg#delete")
					.table__body#tableRemove
						p.table__nothing
							| Не добавленно ни одного пользователя
		
		.main__btns
			button.btn#submitRemoveUser(type="button")
				| Подтвердить и отправить
