main.main(data-name="report")
	//- .table__cell.table__cell--header.table__cell--department
		span.table__text.table__text--header
		| Подразделение/факультет
		button.btn.btn--sort(type='button' data-direction='true')
