main.main(data-name="report")
	.container
		//- .main__title-wrap
			h1.main__title
				| Отчёт по изменениям
			span.main__depart.main__depart--report(data-depart="" data-id="")
				
		.wrap.wrap--content.wrap--content-report-item
			.main__wrap-info
				.main__cards.main__cards--main
					p.main__count-wrap
						span.main__count-text
							| Количество пользователей:&nbsp
						span.main__count.main__count--all-report
							| 0
				label.switch.switch--report
					input.switch__input(type='checkbox')
					span.switch__name
						| Автообновление
			.wrap.wrap--table
				header.tab.tab--report
				.table.table--report
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Фамилия Имя Отчество
							button.btn.btn--sort(type='button' data-direction='true')
						.table__cell.table__cell--header.table__cell--post
							span.table__text.table__text--header
								| Должность
							button.btn.btn--sort(type='button' data-direction='true')
						//- .table__cell.table__cell--header.table__cell--department
							span.table__text.table__text--header
								| Подразделение/факультет
							button.btn.btn--sort(type='button' data-direction='true')
						.table__cell.table__cell--header.table__cell--cardname
							span.table__text.table__text--header
								| Номер иден-тора
						.table__cell.table__cell--header.table__cell--statustitle
							span.table__text.table__text--header
								| Статус
						.table__cell.table__cell--header.table__cell--date
							span.table__text.table__text--header
								| Дата
					.table__body#tableReport
						p.table__nothing
							| Новых данных нет
