main.main(data-name="request")
	.container
		h1.main__title
			| Запрос на изменение данных

		.wrap.wrap--content.wrap--content-request
			.main__wrap-info
				.main__cards.main__cards--main
					p.main__count-wrap.main__count-wrap--depart
						span.main__count-text
							| Количество карт:&nbsp
						span.main__count.main__count--request
							| 0
				label.switch.switch--permis
					input.switch__input(type='checkbox')
					span.switch__name
						| Автообновление
			.wrap.wrap--table
				header.tab.tab--request
				.table.table--request
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Фамилия Имя Отчество
							button.btn.btn--sort(type='button' data-direction='true')
						.table__cell.table__cell--header.table__cell--post
							span.table__text.table__text--header
								| Должность
						.table__cell.table__cell--header.table__cell--department
							span.table__text.table__text--header
								| Подразделение/факультет
						.table__cell.table__cell--header.table__cell--statustitle
							span.table__text.table__text--header
								| Статус
						.table__cell.table__cell--header.table__cell--date
							span.table__text.table__text--header
								| Дата
					.table__body#tableRequest
						p.table__nothing
							| Новых данных нет
	
		.main__btns
			button.btn.btn--add(type='button')
				| Применить
