main.main(data-name="request")
	.container
		//- .main__title-wrap
			h1.main__title
				| Запрос на изменение данных
			span.main__depart.main__depart--request(data-depart="" data-id="")

		.wrap.wrap--content.wrap--content-request
			.main__wrap-info
				.main__cards.main__cards--main
					p.main__count-wrap.main__count-wrap--depart
						span.main__count-text
							| Количество карт:&nbsp
						span.main__count.main__count--request
							| 0
					p.main__count-wrap.main__count-wrap--main
						span.main__count-text
							| Общее количество карт:&nbsp
						span.main__count.main__count--all-request
							| 0
				label.switch.switch--request
					input.switch__input(type='checkbox')
					span.switch__name
						| Автообновление
			.wrap.wrap--table
				header.tab.tab--request
				.table.table--request
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Фамилия Имя Отчество
							button.btn.btn--sort(type='button' data-direction='true')
						.table__cell.table__cell--header.table__cell--post
							span.table__text.table__text--header
								| Должность
							button.btn.btn--sort(type='button' data-direction='true')
						.table__cell.table__cell--header.table__cell--statustitle
							span.table__text.table__text--header
								| Статус
						.table__cell.table__cell--header.table__cell--date
							span.table__text.table__text--header
								| Дата
						.table__cell.table__cell--header.table__cell--btn-permis
							button.btn.btn--allow#allowAll(type='button' data-type="allow")
								| Разрешить все
							button.btn.btn--disallow#disallowAll(type='button' data-type="disallow")
								| Запретить все
					.table__body#tableRequest
						p.table__nothing
							| Новых данных нет
							
		.info.info--page
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Не все пользователи выбраны.
	
		.main__btns
			button.btn#submitRequest(type='button')
				| Применить
