main.main(data-name="request")
	.container
		//- .main__title-wrap
			h1.main__title
				| Запрос на изменение данных
			span.main__depart.main__depart--request(data-depart="" data-id="")

		.wrap.wrap--content.wrap--content-request
			.main__wrap-info.main__wrap-info--request
				.main__cards.main__cards--main
					p.main__count-wrap
						span.main__count-text
							| Количество пользователей:&nbsp
						span.main__count.main__count--request
							| 0
					p.main__count-wrap
						span.main__count-text
							| Общее количество пользователей:&nbsp
						span.main__count.main__count--all-request
							| 0
				.main__switchies
					.main__switch
						.tooltip
							span.tooltip__item
								| !
							.tooltip__info.tooltip__info--refresh
								| Если данная опция включена, тогда при поступлении новых данных, они автоматически отобразятся в таблице. Перезагружать страницу не нужно.#[br]
								| Рекомендуется отключить данную функцию при работе с данными в таблице!
						.switch.switch--refresh-request
							label.switch__wrap.switch__wrap--head
								input.switch__input(type='checkbox')
								small.switch__btn
							span.switch__name.switch__name--disabled
								| Автообновление
			.wrap.wrap--table
				header.tab.tab--request
				.table.table--request
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Фамилия Имя Отчество
							button.btn.btn--sort(type='button' data-direction='true')
						.table__cell.table__cell--header.table__cell--post
							span.table__text.table__text--header
								| Должность
							button.btn.btn--sort(type='button' data-direction='true')
						.table__cell.table__cell--header.table__cell--statustitle
							span.table__text.table__text--header
								| Статус
						.table__cell.table__cell--header.table__cell--date
							span.table__text.table__text--header
								| Дата
						.table__cell.table__cell--header.table__cell--btn-permis
							button.btn.btn--allow#allowAll(type='button' data-type="allow")
								| Разрешить все
							button.btn.btn--disallow#disallowAll(type='button' data-type="disallow")
								| Запретить все
					.table__body#tableRequest
						p.table__nothing
							| Новых данных нет
							
		.info.info--page
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Не все пользователи выбраны.
	
		.main__btns
			button.btn#submitRequest(type='button')
				| Применить
