main.main(data-name="settings")
	.container
		//- .main__title-wrap
			h1.main__title
				| Настройки
			span.main__depart.main__depart--settings(data-depart="" data-id="")
			
		section.settings#settingsSection
