main.main(data-name="settings")
	.container
		h1.main__title
			| Настройки
		span.main__depart.main__depart--settings(data-depart="" data-id="ChemDep")
			
		section.settings#settingsSection
			.settings__content
				.settings__section(data-block="changename")
					.settings__wrap
						h3.settings__title
							| Название подразделения
						span.settings__department(data-nameid="" data-shortname="" data-longname="")
							| Химический факультет
					.settings__btn-wrap
						button.btn.btn--settings(type="button" data-name="changename")
							| Изменить
					//- form.form.form--settings(action="#" method="GET")
						.form__field
							label.form__name.form__name--settings.form__item(for="changelongname")
								| Введите полное новое название
							input.form__input.form__input--settings(data-field="changelongname" name="changelongname" id="changelongname" type="text" placeholder="Введите полное новое название")
						.form__field
							label.form__name.form__name--settings(for="changeshortname")
								| Введите сокращенное название
							input.form__input.form__input--settings.form__item(data-field="changeshortname" name="changeshortname" id="changeshortname" type="text" placeholder="Введите сокращенное название")
							span.form__text
								| Например: Химический факультет - Химфак #[br]
								| Учебный центр социально-воспитательной и внеобразовательной деятельности - УЦСВВОД #[br]
								| Центр трудоустройства студентов и выпускников - Трудцентр
						button.btn.btn--changes(data-name="changename" type="button")
							| Подтвердить
					.info.info--settings
						p.info__item.info__item--warn.info__item--fields
							| Предупреждение! Не все поля заполненны.
						p.info__item.info__item--error.info__item--name
							| Ошибка! Имя содержит недопустимые символы. Разрешены: кириллические буквы, дефис, апостроф.

				.settings__section(data-block="adddepart")
					.settings__wrap
						h3.settings__title
							| Добавить подразделение
					.settings__btn-wrap
						button.btn.btn--settings(type="button" data-name="adddepart")
							| Добавить
					//- form.form.form--settings(action="#" method="GET")
						.form__field
							label.form__name.form__name--settings(for="addlongname")
								| Введите полное новое название
							input.form__input.form__input--settings.form__item(data-field="addlongname" name="addlongname" id="addlongname" type="text" placeholder="Введите полное новое название")
						.form__field
							label.form__name.form__name--settings(for="addshortname")
								| Введите сокращенное название
							input.form__input.form__input--settings.form__item(data-field="addshortname" name="addshortname" id="addshortname" type="text" placeholder="Введите сокращенное название")
							span.form__text
								| Например: Химический факультет - Химфак #[br]
								| Учебный центр социально-воспитательной и внеобразовательной деятельности - УЦСВВОД #[br]
								| Центр трудоустройства студентов и выпускников - Трудцентр
						.form__field
							label.form__name.form__name--settings(for="addnameid")
								| Введите id подразделения
							input.form__input.form__input--settings.form__item(data-field="addnameid" name="addnameid" id="addnameid" type="text" placeholder="Введите id подразделения")
							span.form__text
								| Переводим сокращенное название на английский (не должно быть большей 9 символов). #[br]
								| Например: Химический факультет - ChemDep (Химфак) #[br]
								| Учебный центр социально-воспитательной и внеобразовательной деятельности - TCSENEA (УЦСВВОД) #[br]
								| Центр трудоустройства студентов и выпускников - EmlCen (Трудцентр)
						button.btn.btn--changes(data-name="adddepart" type="button")
							| Подтвердить
					.info.info--settings
						p.info__item.info__item--warn.info__item--fields
							| Предупреждение! Не все поля заполненны.
						p.info__item.info__item--error.info__item--name
							| Ошибка! Имя содержит недопустимые символы. Разрешены: кириллические буквы, дефис, апостроф.
						p.info__item.info__item--error.info__item--long
							| Ошибка! ID подразделения должно быть не более 9 символов.

				.settings__section(data-block="removedepart")
					.settings__wrap
						h3.settings__title
							| Удалить подразделение
					.settings__btn-wrap
						button.btn.btn--settings(type="button" data-name="removedepart")
							| Удалить
					//- form.form.form--settings(action="#" method="GET")
						.form__field
							h3.form__name.form__name--settings
								| Выбрать подразделение
							.form__item.select.select--settings(data-field="removedepart" data-type="removenameid" data-select="removenameid")
								header.select__header.select__header--settings
									span.select__value.select__value--settings(data-title="title" data-nameid="nameid")
										| Выберите подразделение
								ul.select__list.select__list--settings
								
						button.btn.btn--changes(data-name="removedepart" type="button")
							| Подтвердить
					.info.info--settings
						p.info__item.info__item--warn.info__item--fields
							| Предупреждение! Не выбрано поле с названием подразделения.

				//- .settings__section
					.settings__wrap.settings__wrap--static
						h3.settings__title
							| Период автообновления данных в таблицах
						span.settings__value
							| 15 мин.
					.settings__btn-wrap
						button.btn.btn--settings(type="button" data-title="Изменить" data-cancel="Отменить")
							| Изменить
					.settings__wrap.settings__wrap--change
						.form__item.select.select--settings(data-field="time")
							header.select__header.select__header--settings
								span.select__value.select__value--settings(data-title="15 мин." data-value="15")
									| Выберите период автообновления
							ul.select__list.select__list--settings
								
								- const arrValues = ['5', '10', '15', '20', '30', '45', '60', false];
								- const arrTitles = ['5 мин.', '10 мин.', '15 мин.', '20 мин.', '30 мин.', '45 мин.', '1 час', 'отключить'];
								
								each items, i in arrValues
									li.select__item
										span.select__name.select__name--settings(data-title=arrTitles[i] data-value=arrValues[i])
											| #{arrTitles[i]}
											
						button.btn.btn--changes(type="button")
							| Сохранить

				//- .settings__section
					.settings__wrap.settings__wrap--static
						h3.settings__title
							| Email
						span.settings__value
							| chepdepart@gmail.com
					.settings__btn-wrap
						button.btn.btn--settings(type="button" data-title="Изменить" data-cancel="Отменить")
							| Изменить
					.settings__wrap.settings__wrap--change
						.settings__block
							label.settings__title(for="emailUser")
								| Введите новый email
							input.settings__input(id="emailUser" type="email" placeholder="Введите новый email")
						button.btn.btn--changes(type="button")
							| Сохранить
