main.main(data-name="time")
	.container
		//- .main__title-wrap
			h1.main__title
				| Добавление временных карт
			
		.wrap.wrap--content.wrap--content-time
			.main__wrap-info
				.main__cards.main__cards--main
					p.main__count-wrap
						span.main__count-text
							| Количество карт:&nbsp
						span.main__count.main__count--all-time
							| 0
				button.main__btn#addTimeCard(type="button")
					svg.icon.icon--plus
						use.icon__item(xlink:href="./images/sprite.svg#plus")
					span.main__btn-text
						| Добавить карту
			.wrap.wrap--table
				.table.table--time
					header.table__header
						.table__cell.table__cell--header.table__cell--fio
							span.table__text.table__text--header
								| Название
						.table__cell.table__cell--header.table__cell--cardid
							span.table__text.table__text--header
								| ID карты
						.table__cell.table__cell--header.table__cell--cardname
							span.table__text.table__text--header
								| Номер карты
						.table__cell.table__cell--header.table__cell--clear
							svg.icon.icon--clear.icon--clear-white
								use.icon__item(xlink:href="./images/sprite.svg#clear")
						.table__cell.table__cell--header.table__cell--delete
							svg.icon.icon--delete.icon--delete-white
								use.icon__item(xlink:href="./images/sprite.svg#delete")
					.table__body#tableTime
						.table__content.table__content--time.table__content--active
						
		.info.info--page
			p.info__item.info__item--warn.info__item--fields
				| Предупреждение! Не всем картам присвоен идентификатор.
			p.info__item.info__item--warn.info__item--last
				| Предупреждение! Всегда должна быть одна карта.
			p.info__item.info__item--error.info__item--fields
				| Ошибка! Не правильно введен тип ID. Должно быть 10 цифр, без букв и символов!
						
		.main__btns
			button.btn#submitTimeCard(type='button')
				| Добавить
