.btn {
	display: flex;
	@extend %text--small;
	color: $white;
	text-align: center;
	padding: 15px 20px;
	border-radius: 10px;
	background: $green;

	@media print {
		display: none;
	}

	&--add {
		margin-right: 20px;
		text-transform: uppercase;
	}

	&--control {
		margin-bottom: 15px;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&--sort {
		position: relative;
		width: 30px;
		height: 30px;
		padding: 5px;
		justify-content: center;
		align-items: center;

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			transform: translateX(-50%);
		}

		&:before {
			top: 6px;
			border-bottom: 8px solid $black;
		}

		&:after {
			bottom: 6px;
			border-top: 8px solid $black;
		}

		&-up {
			&:before {
				border-bottom-color: $darkRed;
			}

			&:after {
				opacity: .4;
			}
		}

		&-down {
			&:before {
				opacity: .4;
			}

			&:after {
				border-top-color: $lightGreen;
			}
		}
	}

	&--allow {
		padding: 12px 15px;
		background: $lightGreen;
		margin-right: 20px;

		&-disabled {
			background: $disabledGreen;
			color: $gray;
		}

		&-cancel {
			background: $middleGray;
		}
	}

	&--disallow {
		padding: 12px 15px;
		background: $darkRed;

		&-disabled {
			background: $disabledRed;
			color: $gray;
		}

		&-cancel {
			background: $middleGray;
		}
	}

	&--form {
		margin: 0 auto;
		text-transform: uppercase;

		&--login {
			width: 150px;
			justify-content: center;
		}
	}

	&--download,
	&--assign {
		margin: 0 auto 20px;
		text-transform: uppercase;
	}

	&--resend {
		padding: 12px 15px;
		background: $spaceBlack;

		&-disabled {
			background: $disabledRed;
			color: $gray;
		}

		&-cancel {
			background: $middleGray;
		}
	}

	&--settings {
		justify-content: center;
		width: 150px;
		margin: 0 auto;

		&-disabled {
			background: $disabledGray;
			color: $gray;
		}

		&-cancel {
			background: $middleGray;
		}
	}
}
