.control {
	grid-area: aside;
	margin-right: 20px;
	background: $gray;

	@media print {
		display: none;
	}

	&__container {
		display: flex;
		flex-flow: column;
		position: sticky;
		top: 0;
		padding-top: 40px;
		min-height: 100vh;
	}

	&__item {
		@extend %text--premedium;
		font-weight: 300;
		color: $spaceBlack;
		text-align: left;
		width: 100%;
		padding: 15px;
		border-bottom: 1px solid $disabledGray;
		background: $gray;
		transition: background .25s ease-out, color .25s ease-out;

		&:hover {
			color: $white;
			background: $lightBlue;
		}

		&:first-child,
		&:last-child {
			border-top: 1px solid $disabledGray;
		}

		&:last-child {
			margin-top: auto;
		}

		&--active {
			color: $white;
			background: $lightBlue;
		}
	}
}
