.document {
	width: 100%;
	margin-bottom: 50px;

	&__grid {
		display: none;
		grid-template-columns: repeat(4, 270px);
		justify-content: center;
		padding: 80px 50px 50px;
		background: $white;

		@media print {
			display: grid;
			padding: 30px 0;
		}
	}

	&__item {
		padding: 20px 15px;
		border: 1px dashed $black;
	}

	&__code {
		display: block;
		width: 150px;
		height: 150px;
		margin: 0 auto 10px;
	}

	&__name {
		display: flex;
		flex-flow: column;
		margin-bottom: 10px;

		span,
		p {
			text-align: center;
			@extend %text--small;
			color: $black;
		}
	}

	&__post {
		display: block;
		text-align: center;
		@extend %text--small;
		color: $black;
		margin-bottom: 15px;
	}

	&__instruct {
		text-align: center;
		@extend %text--presmall;
		color: $black;
	}
}
