.document {
	display: none;
	width: 100%;
	margin-bottom: 50px;

	&__depart {
		@extend %text--prelarge;
		text-align: center;
		color: $spaceBlack;
		margin-bottom: 20px;
	}

	&__count {
		display: block;
		width: 100%;
		@extend %text--small;
		text-align: center;
		color: $spaceBlack;
		margin-bottom: 10px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 270px);
		grid-template-rows: repeat(4, auto);
		justify-content: center;
		background: $white;

		@media print {
			padding: 30px 0 60px;
		}
	}

	&__item {
		padding: 20px 15px;
		border: 1px dashed $black;
	}

	&__code {
		display: block;
		width: 150px;
		height: 150px;
		margin: 0 auto 10px;
	}

	&__name {
		display: flex;
		flex-flow: column;
		margin-bottom: 10px;

		span,
		p {
			text-align: center;
			@extend %text--small;
			color: $black;
		}
	}

	&__post {
		display: block;
		text-align: center;
		@extend %text--small;
		color: $black;
		margin-bottom: 15px;
	}

	&__instruct {
		text-align: center;
		@extend %text--presmall;
		color: $black;
	}
}
