.field {
	margin-bottom: 40px;

	&__textarea {
		display: block;
		@extend %text--medium;
		color: $white;
		margin: 0 auto;
		text-align: center;
		padding: 20px 30px;
		width: 950px;
		height: 370px;
		overflow: auto;
		resize: none;
		border: 1px solid $white;

		&--generate {
			width: 100%;
		}
	}
}
