.form {
	max-width: 500px;
	margin: 0 auto 60px;

	&__wrap {
		margin-bottom: 40px;
	}

	&__field {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__label {
		display: flex;
		flex-flow: column;
		cursor: pointer;
	}

	&__name {
		display: inline-block;
		@extend %text--medium;
		margin-bottom: 10px;
		color: $white;
	}

	&__input {
		width: 100%;
		@extend %text--premedium;
		color: $white;
		padding: 10px 15px;
		border: 1px solid $gray;
		border-radius: 5px;

		&::placeholder {
			color: $darkGray;
		}
	}
}
