.form {
	&--page {
		max-width: 800px;
		margin: 0 auto 60px;
	}

	&--login {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 400px;
		padding: 70px 50px 60px;
		border: 1px solid $gray;
		border-radius: 15px;
		transform: translate(-50%, -50%);
	}

	&--settings {
		grid-area: changes;
		margin-top: 20px;
	}

	&__wrap {
		display: grid;
		grid-template-columns: 500px 250px;
		grid-template-rows: auto;
		grid-auto-rows: 200px;
		grid-gap: 20px;
		margin-bottom: 40px;

		&--hide {
			display: none;
		}
	}

	&__fields {
		&--page {
			flex: 0 0 auto;
			width: 500px;
		}

		&--login {
			margin-bottom: 50px;
		}
	}

	&__field {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__label {
		display: flex;
		flex-flow: column;
		cursor: pointer;
	}

	&__name {
		display: inline-block;
		@extend %text--premedium;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&--form {
			color: $white;
		}

		&--settings {
			width: 100%;
			color: $black;
		}
	}

	&__input {
		width: 100%;
		@extend %text--premedium;
		padding: 10px 15px;
		border: 1px solid $gray;
		border-radius: 5px;

		&--form {
			color: $white;

			&::placeholder {
				color: $darkGray;
			}
		}

		&--file {
			display: none;
		}

		&--settings {
			max-width: 350px;
			color: $black;
			border-color: $middleGray;

			&::placeholder {
				color: $middleGray;
			}
		}
	}

	&__aside {
		flex: 0 0 auto;
		width: 250px;

		&--hide {
			display: none;
		}
	}

	&__img {
		margin-top: 20px;
		width: 100%;
		height: 250px;
		padding: 20px;
		border-radius: 3px;
		border: 1px solid $white;
		background: $deepDarkGray;
		overflow: hidden;
		margin-bottom: 20px;
	}

	&__download {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 10px 30px;
		border: 1px solid $white;
		border-radius: 5px;
		cursor: pointer;
	}

	&__title {
		color: $white;

		&--page {
			@extend %text--premedium;
		}

		&--login {
			@extend %text--prelarge;
			text-align: center;
			margin-bottom: 40px;
		}
	}

	&__item {
		cursor: pointer;
		
		&--static {
			display: inline-block;
			width: 100%;
			@extend %text--premedium;
			color: #fff;
			min-height: 42px;
			padding: 10px 15px;
			border: 1px solid #b9b9b9;
			border-radius: 5px;
		}

		&--message {
			height: 100%;
			overflow-y: auto;
		}
	}

	&__text {
		display: inline-block;
		width: 100%;
		@extend %text--tiny;
		color: $middleGray;
		margin: 10px 0;
	}

	&__message {
		display: flex;
		flex-flow: column;
		grid-area: 2 / span 2;
	}
}
