.icon {
	transition: fill .25s ease;

	&--plus {
		width: 17px;
		height: 17px;
		margin-right: 10px;
	}

	&--delete,
	&--clear,
	&--edit,
	&--view {
		width: 20px;
		height: 20px;
		margin: auto;

		&-black {
			fill: $black;
		}

		&-white {
			fill: $white;
		}
	}

	&--download {
		width: 20px;
		height: 20px;
		fill: $white;
		margin-right: 10px;
	}
}
