.select {
	position: relative;

	&__header {
		position: relative;
		padding: 10px 45px 10px 15px;
		border: 1px solid $gray;
		border-radius: 5px;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: 15px;
			border-top: 8px solid $gray;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			transform: translateY(-50%);
			transform-origin: center center;
			transition: transform .25s ease-out;
		}

		&--active {
			&:before {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	&__value {
		@extend %text--premedium;
		color: $darkGray;

		&--selected {
			color: $white;
		}
	}

	&__name {
		@extend %text--premedium;
		color: $spaceBlack;
	}

	&__list {
		display: none;
		position: absolute;
		top: 42px;
		left: 0;
		width: 100%;
		padding: 10px 15px;
		max-height: 120px;
		overflow: auto;
		border: 1px solid $gray;
		border-radius: 5px;
		background: $gray;
		z-index: 5;
	}

	&__item {
		padding: 2px 5px;
		cursor: pointer;
		transition: background .25s ease-out;

		&:hover {
			background: #0007e25e;
		}

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}
