.select {
	position: relative;

	&--settings {
		max-width: 350px;
		margin-bottom: 20px;
	}

	&__header {
		position: relative;
		padding: 10px 45px 10px 15px;
		border-radius: 5px;
		cursor: pointer;

		&--form {
			border: 1px solid $gray;

			&:before {
				border-top: 8px solid $gray;
			}
		}

		&--settings {
			border: 1px solid $spaceBlack;

			&:before {
				border-top: 8px solid $spaceBlack;
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			right: 15px;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			transform: translateY(-50%);
			transform-origin: center center;
			transition: transform .25s ease-out;
		}

		&--active {
			&:before {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	&__value {
		@extend %text--premedium;

		&--form {
			color: $darkGray;
		}

		&--settings {
			color: $spaceBlack;
		}

		&--selected {
			&-form {
				color: $white;
			}

			&-settings {
				color: $spaceBlack;
			}
		}
	}

	&__name {
		@extend %text--premedium;

		&--form {
			color: $spaceBlack;
		}

		&--settings {
			color: $white;
		}
	}

	&__list {
		top: 42px;
		left: 0;
		width: 100%;
		padding: 10px 15px;
		max-height: 120px;
		overflow: auto;
		border-radius: 5px;
		z-index: 5;

		&[data-scrollbar] {
			display: none;
			position: absolute;
		}

		&--form {
			border: 1px solid $gray;
			background: $gray;
			display: none;
			position: absolute;
		}

		&--settings {
			border: 1px solid $spaceBlack;
			background: $spaceBlack;
		}
	}

	&__item {
		padding: 2px 5px;
		cursor: pointer;
		transition: background .25s ease-out;

		&:hover {
			background: #0007e25e;
		}

		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}
