.settings {
	max-width: 900px;
	padding: 40px 50px;
	margin: 0 auto;
	border-radius: 30px;
	background: $gray;

	&__content {
		height: 700px;
		padding-right: 20px;
		overflow: auto;
	}

	&__section {
		display: grid;
		grid-template: 'header btn' 60px
						'changes changes' auto
						'info info' auto
						/ 1fr 200px;
		align-items: center;
		border: 1px solid $disabledGray;
		border-radius: 30px;
		grid-column-gap: 30px;
		padding: 20px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__wrap {
		grid-area: header;
	}

	&__title {
		display: inline-block;
		@extend %text--premedium;
		width: 100%;
		color: $black;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__value {
		@extend %text--premedium;
		color: $middleGray;
	}

	&__btn {
		grid-area: btn;
	}
}
