.table {
	$self: &;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	@media print {
		border: 1px solid $spaceBlack;
		border-bottom: none;
		border-radius: 0;
		width: 970px;
	}

	&__header {
		display: flex;
		background: $deepDarkBlue;

		@media print {
			border-bottom: 1px solid $spaceBlack;
		}
	}

	&__body {
		background: $gray;
		overflow-y: auto;

		&--empty {
			height: 370px;

			@media print {
				display: none;
			}
		}

		@media print {
			padding-bottom: 0;
		}
	}

	&__content {
		height: 370px;

		@media print {
			height: auto;
		}
	}

	&__row {
		display: flex;
		border-bottom: 1px solid $deepDarkBlue;
		transition: background .25s ease;
		background: $gray;
		cursor: pointer;

		&:not(:last-child) {
			@media print {
				border-bottom: 1px solid $spaceBlack;
			}
		}

		&:hover {
			background: $darkerGray;
		}

		&:nth-child(2n) {
			background: $darkGray;

			&:hover {
				background: $darkerGray;
			}
		}

		&--disabled,
		&--disabled:nth-child(2n) {
			background: $disabledGray;

			#{$self}__text {
				color: $disabledLightGray;
			}
		}
	}

	&__cell {
		@media print {
			&:not(:last-child) {
				border-right: 1px solid $deepDarkBlue;
			}
		}

		&--header {
			display: inline-flex;
			align-items: center;
			padding: 15px;
			border-right: 1px solid $white;

			@media print {
				padding: 10px;
			}
		}

		&--body {
			display: flex;
			align-items: center;
			padding: 10px 15px;
			border-right: 1px solid $spaceBlack;

			@media print {
				padding: 5px 10px;
			}
		}

		&--delete,
		&--clear,
		&--edit,
		&--view {
			flex: 0 0 40px;
			padding: 0;

			@media print {
				display: none;
			}
		}

		&--signature {
			display: none;
			text-align: center;
			justify-content: center;
			flex: 0 0 120px;
		}

		&--fio,
		&--post,
		&--department {
			justify-content: space-between;
		}

		&--fio,
		&--department {
			flex: 0 0 330px;
			max-width: 330px;
		}

		&--codepicture {
			flex: 0 0 380px;
			max-width: 380px;
		}

		&--post {
			flex: 0 0 240px;
			max-width: 240px;
		}

		&--btn-permis {
			justify-content: center;
			flex: 0 0 290px;
			max-width: 290px;
		}

		&--btn-resend {
			justify-content: center;
			flex: 0 0 140px;
			max-width: 140px;
		}

		&--cardid,
		&--cardname,
		&--statustitle {
			text-align: center;
			justify-content: center;
			flex: 0 0 180px;
			max-width: 180px;
		}

		&--nameid {
			display: none;
		}

		&--photoname {
			flex: 0 0 200px;
			max-width: 200px;

			#{$self}__text {
				display: inline-block;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				height: auto;
			}
		}

		&--cardvalidto,
		&--date {
			text-align: center;
			justify-content: center;
			flex: 0 0 150px;
			max-width: 150px;
		}

		&--cardname,
		&--cardid,
		&--statustitle,
		&--cardvalidto,
		&--date {
			#{$self}__text {
				justify-content: center;
			}
		}

		&--hide {
			display: none;
		}

		@media print {
			&--cardid,
			&--statustitle {
				display: none;
			}

			&--signature {
				display: block;
				background: #000;
				// border-right: none;
			}
		}
	}

	&__text {
		&--header {
			display: inline-block;
			@extend %text--premedium;
			color: $white;

			@media print {
				font-size: 14px;
				line-height: 16px;
				color: $spaceBlack;
			}
		}

		&--body {
			display: flex;
			align-items: center;
			@extend %text--premedium;
			color: $spaceBlack;
			height: 40px;
			width: 100%;

			@media print {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}

	&__input {
		display: flex;
		text-align: center;
		@extend %text--premedium;
		color: $spaceBlack;
		height: 40px;
		width: 100%;

		// &:focus {
		// 	box-shadow: 0 0 0 9px $gray, 0 0 0 15px $blueLight;
		// }

		@media print {
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__nothing {
		padding: 20px;
		@extend %text--premedium;
		text-align: center;
		transform: translateY(140px);
	}

	&__btn {
		display: flex;
		width: 100%;
		height: 100%;
		transition: transform .25s ease;

		&:hover {
			.icon {
				fill: $darkRed;
			}
		}
	}
}
