.table {
	$self: &;

	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;

	&--const {
		@media print {
			border: 1px solid $spaceBlack;
			border-bottom: none;
			border-radius: 0;
		}
	}

	@media print {
		display: none;
	}

	&__header {
		display: flex;
		background: $deepDarkBlue;

		@media print {
			border-bottom: 1px solid $spaceBlack;
		}
	}

	&__body {
		padding-bottom: 10px;
		background: $gray;

		&--empty {
			height: 370px;
		}

		@media print {
			padding-bottom: 0;
		}
	}

	&__content {
		height: 370px;
		overflow: auto;
		transition: height .25s ease;

		&--const {
			display: none;
		}

		@media print {
			height: auto;
		}

		&--active {
			display: block;
		}
	}

	&__row {
		display: flex;
		border-bottom: 1px solid $deepDarkBlue;
		transition: background .25s ease;
		cursor: pointer;

		&:not(:last-child) {
			@media print {
				border-bottom: 1px solid $spaceBlack;
			}
		}

		&:hover {
			background: $darkerGray;
		}

		&:nth-child(2n) {
			background: $darkGray;

			&:hover {
				background: $darkerGray;
			}
		}

		&--disabled,
		&--disabled:nth-child(2n) {
			background: $disabledGray;

			#{$self}__text {
				color: $disabledLightGray;
			}
		}
	}

	&__cell {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		@media print {
			&:not(:last-child) {
				border-right: 1px solid $deepDarkBlue;
			}
		}

		&--header {
			display: inline-flex;
			align-items: center;
			padding: 15px;

			@media print {
				padding: 10px;
			}

			&:not(:last-child),
			&--delete {
				border-right: 1px solid $white;
			}
		}

		&--body {
			display: flex;
			align-items: center;
			padding: 10px 15px;

			@media print {
				padding: 15px 10px;
			}

			&:not(:last-child) {
				border-right: 1px solid $spaceBlack;
			}
		}

		&--delete,
		&--clear {
			flex: 0 0 40px;

			@media print {
				display: none;
			}
		}

		&--signature {
			display: none;
			text-align: center;
			justify-content: center;
			flex: 0 0 auto;
			flex: 0 0 120px;
		}

		&--fio,
		&--post {
			// display: flex;
			// align-items: center;
			justify-content: space-between;
		}

		&--fio,
		&--nametitle,
		&--newfio {
			flex: 0 0 380px;
		}

		&--codepicture {
			flex: 0 0 450px;
		}

		&--post {
			flex: 0 0 360px;
		}

		&--department,
		&--new-depart {
			flex: 0 0 450px;
		}

		&--control {
			justify-content: center;
			flex: 0 0 360px;
		}

		&--cardid,
		&--cardname,
		&--statusid,
		&--date {
			text-align: center;
			justify-content: center;
			flex: 0 0 210px;
		}

		&--nameid {
			display: none;
		}

		&--titleid {
			flex: 0 0 300px;
		}

		&--buttons {
			padding: 10px 20px;
			flex: 0 0 360px;
			justify-content: center;
		}

		&--cardname,
		&--cardid,
		&--statusid {
			.table__text {
				justify-content: center;
			}
		}

		@media print {
			&--cardid,
			&--statusid {
				display: none;
			}

			&--signature {
				display: inline-flex;
				border-right: none;
			}
		}
	}

	&__text {
		&--header {
			display: inline-block;
			@extend %text--premedium;
			color: $white;

			@media print {
				font-size: 14px;
				line-height: 16px;
				color: $spaceBlack;
			}
		}

		&--body {
			display: block;
			@extend %text--premedium;
			color: $spaceBlack;
			// height: 40px;
			width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;

			@media print {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}

	&__input {
		display: flex;
		text-align: center;
		@extend %text--premedium;
		color: $spaceBlack;
		height: 40px;
		width: 100%;

		&:focus {
			box-shadow: inset 0 0 5px 1px $yellow;
			box-shadow: 0 0 0 7px $gray, 0px 0px 10px 10px $blueLight;
		}

		@media print {
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__nothing {
		display: none;
		padding: 20px;
		@extend %text--premedium;
		text-align: center;
		transform: translateY(140px);
	}

	&__btn {
		display: flex;
		width: 100%;
		height: 100%;
		transition: transform .25s ease;

		&:hover {
			transform: scale(1.1);

			.icon {
				fill: $darkRed;
			}
		}
	}
}
