.wrap {
	&--table {
		margin-bottom: 40px;
	}

	&--content {
		margin: 0 auto;

		&-const {
			max-width: 1326px;
		}

		&-time {
			max-width: 880px;
		}

		&-remove {
			max-width: 930px;
		}

		&-remove-newdepart {
			max-width: 1310px;
		}

		&-remove-cardvalidto {
			max-width: 1100px;
		}

		&-remove-newdepart-cardvalidto {
			max-width: 1480px;
		}

		&-permis {
			max-width: 1210px;
		}

		&-download {
			max-width: 910px;
		}

		&-request {
			max-width: 1160px;
		}

		&-add {
			max-width: 1130px;
		}

		&-add-cardvalidto {
			max-width: 1300px;
		}

		&-edit {
			max-width: 930px;
		}

		&-edit-newfio {
			max-width: 1310px;
		}

		&-edit-newpost {
			max-width: 1190px;
		}

		&-edit-photofile {
			max-width: 1130px;
		}

		&-edit-newfio-newpost {
			max-width: 1570px;
		}

		&-edit-newfio-photofile {
			max-width: 1510px;
		}

		&-edit-newpost-photofile {
			max-width: 1390px;
		}

		&-edit-newfio-newpost-photofile {
			max-width: 1770px;
		}

		&-report {
			max-width: 1710px;
		}

		&-reject {
			max-width: 1400px;
		}
	}
}
