.wrap {
	&--table {
		margin-bottom: 40px;
	}

	&--content {
		margin: 0 auto;

		&-const {
			max-width: 1160px;
		}

		&-time {
			max-width: 780px;
		}

		&-remove {
			max-width: 840px;
		}

		&-remove-newdepart {
			max-width: 1170px;
		}

		&-remove-cardvalidto {
			max-width: 990px;
		}

		&-remove-newdepart-cardvalidto {
			max-width: 1320px;
		}

		&-permis {
			max-width: 1050px;
		}

		&-qr {
			max-width: 1120px;
		}

		&-download {
			max-width: 790px;
		}

		&-request {
			max-width: 1200px;
		}

		&-add {
			max-width: 1040px;
		}

		&-add-cardvalidto {
			max-width: 1190px;
		}

		&-edit {
			max-width: 840px;
		}

		&-edit-newfio {
			max-width: 1170px;
		}

		&-edit-newpost {
			max-width: 1080px;
		}

		&-edit-photofile {
			max-width: 1040px;
		}

		&-edit-newfio-newpost {
			max-width: 1410px;
		}

		&-edit-newfio-photofile {
			max-width: 1370px;
		}

		&-edit-newpost-photofile {
			max-width: 1280px;
		}

		&-edit-newfio-newpost-photofile {
			max-width: 1610px;
		}

		&-report-item {
			max-width: 1090px;
		}

		&-report-all {
			max-width: 1420px;
		}

		&-reject {
			max-width: 1090px;
		}
	}
}
