.wrap {
	&--table {
		margin-bottom: 40px;
	}

	&--content {
		margin: 0 auto;

		&-const {
			max-width: 1410px;
		}

		&-time {
			max-width: 880px;
		}

		&-remove-item {
			max-width: 1290px;
		}

		&-remove-transfer {
			max-width: 1570px;
		}

		&-permis {
			max-width: 1310px;
		}

		&-download {
			max-width: 910px;
		}

		&-request {
			max-width: 1160px;
		}

		&-add {
			max-width: 1400px;
		}

		&-edit-fio {
			max-width: 1060px;
		}

		&-edit-post {
			max-width: 1040px;
		}

		&-edit-image {
			max-width: 880px;
		}

		&-report {
			width: 1710px;
		}
	}
}
