extends includes/layout

block title
	title Главная

block content
			
	.wrapper
		include includes/header

		include includes/const-card
		include includes/time-card
		include includes/download-qr
		include includes/const-qr
		include includes/permission
		include includes/add-user
		include includes/remove-user
		include includes/edit-user
						
		include includes/footer
