extends includes/layout

block title
	title Служба безопасности

block content
			
	.wrapper
		include includes/header

		include includes/aside
		
		include section/const-card
		include section/time-card
		include section/download-qr
		include section/const-qr
		include section/permission
		include section/add-user
		include section/remove-user
		include section/edit-user
		include section/request-change
		include section/report
						
		include includes/footer
