<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-control" content="max-age=31536000, public">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>Главная</title>
    <link rel="favicon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="style.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script defer src="js/script.min.js"></script>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" style="position:absolute;" aria-hidden="true" focusable="false"></svg>
    <div class="wrapper">
      <header class="header"></header>
      <main class="main">
        <div class="container">
          <h1 class="main__title">Добавление карт пользователям</h1>
          <div class="table">
            <header class="table__header">
              <div class="table__cell" data-title="FIO">Фамилия Имя Отчество</div>
              <div class="table__cell" data-title="Department">Отдел/Факультет</div>
              <div class="table__cell" data-title="Post">Должность</div>
              <div class="table__cell" data-title="CardID">ID карты</div>
              <div class="table__cell" data-title="CardName">Имя карты</div>
            </header>
            <div class="table__body">
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Семеренський Олександр Володимирович
                </div>
                <div class="table__cell" data-title="Department">Химический факультет
                </div>
                <div class="table__cell" data-title="Post">Старший механик управляющего
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Горбунова-Рубан Свiтлана Олександрiвна
                </div>
                <div class="table__cell" data-title="Department">Химический факультет
                </div>
                <div class="table__cell" data-title="Post">Старший механик управляющего
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Гарькавенко Володимир Володимирович
                </div>
                <div class="table__cell" data-title="Department">Логический факультет
                </div>
                <div class="table__cell" data-title="Post">Инженер 2-й категории
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Скоринiна-Погребна Ольга Володимирiвна
                </div>
                <div class="table__cell" data-title="Department">Логический факультет
                </div>
                <div class="table__cell" data-title="Post">Инженер 2-й категории
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Суворова-Григорович Ганна Олександрiвна
                </div>
                <div class="table__cell" data-title="Department">Химический факультет
                </div>
                <div class="table__cell" data-title="Post">Охранник
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Сотнiкова-Мелешкiна Жанна Владиславiвна
                </div>
                <div class="table__cell" data-title="Department">Химический факультет
                </div>
                <div class="table__cell" data-title="Post">Охранник
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Бельорин-Еррера Олександра Михайлiвна
                </div>
                <div class="table__cell" data-title="Department">Химический факультет
                </div>
                <div class="table__cell" data-title="Post">Охранник
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Корженевський Станiслав Володимирович
                </div>
                <div class="table__cell" data-title="Department">Химический факультет
                </div>
                <div class="table__cell" data-title="Post">Охранник
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Добровольський Олександр В'ячеславович
                </div>
                <div class="table__cell" data-title="Department">Химический факультет
                </div>
                <div class="table__cell" data-title="Post">Охранник
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Пасiчник-Ледянко Валентина Миколаївна
                </div>
                <div class="table__cell" data-title="Department">Химический факультет
                </div>
                <div class="table__cell" data-title="Post">Охранник
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Дем'яновська-Кононова Наталiя Михайлiвна
                </div>
                <div class="table__cell" data-title="Department">Химический факультет
                </div>
                <div class="table__cell" data-title="Post">Охранник
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Тесленко-Пономаренко Надiя Дмитрiвна
                </div>
                <div class="table__cell" data-title="Department">Химический факультет
                </div>
                <div class="table__cell" data-title="Post">Охранник
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
              <div class="table__row">
                <div class="table__cell" data-title="FIO">Станиславський Олександр Олександрович
                </div>
                <div class="table__cell" data-title="Department">Химический факультет
                </div>
                <div class="table__cell" data-title="Post">Охранник
                </div>
                <div class="table__cell" data-title="CardID">0002547896</div>
                <div class="table__cell" data-title="CardName">097-12597</div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer"></footer>
    </div>
  </body>
</html>