
<main class="main" data-name="download">
  <div class="container">
    <h1 class="main__title">Загрузка QR-кодов</h1>
    <div class="wrap wrap--content wrap--content-download">
      <div class="main__wrap main__wrap--download">
        <div class="main__cards">
          <p class="main__count-wrap"><span class="main__count-text">Количество qr-кодов:&nbsp</span><span class="main__count main__count--download">0</span></p>
        </div>
      </div>
      <div class="field">
        <textarea class="field__textarea">474F8B6C443F3D21
25459BD971FA4987
BF16073D057E19E2
DB75D3D33826A0DB
4D4D370EFA7E82D4
B7BF0A6F36BE0CBA
CC5932294953A5AC
FC94DCCA3EFE99F7
7BB91A1496680564
3C7BF4CDB88712D7
364527EE226D2B75
70A13F3F8A24AD13
2473F2BE34842B98
88903F4005D02DE3
126F34667D98F1B2</textarea>
      </div>
    </div>
  </div>
</main>