
<main class="main" data-name="download">
  <div class="container">
    <h1 class="main__title">Загрузка QR-кодов</h1>
    <div class="wrap wrap--content wrap--content-download">
      <div class="main__wrap main__wrap--download">
        <div class="main__cards">
          <p class="main__count-wrap"><span class="main__count-text">Количество загруженых qr-кодов:&nbsp</span><span class="main__count main__count--download">0</span></p>
        </div>
      </div>
      <div class="field">
        <textarea class="field__textarea">N-9533263293161909169-16909647123891645267 E3918631788A8476 31788A8476 788A841C
N-9533263293161909169-16909647123891645242 E3918631788A8482 31788A8482 788A841C
N-9533263293161909169-16909647123891645280 E3918631788A84F4 31788A84F4 788A841C
N-9533263293161909169-16909647123891645240 E3918631788A8456 31788A8456 788A841C
N-9533263293161909169-16909647123891645207 E3918631788A84B2 31788A84B2 788A841C
N-9533263293161909169-16909647123891645212 E3918631788A8410 31788A8410 788A841C
N-9533263293161909169-16909647123891645243 E3918631788A841A 31788A841A 788A841C
N-9533263293161909169-16909647123891645289 E3918631788A84D9 31788A84D9 788A841C</textarea>
      </div>
      <button class="btn btn--download" id="addQRCodes" type="button">Добавить</button>
      <div class="main__wrap main__wrap--download">
        <div class="main__cards">
          <p class="main__count-wrap"><span class="main__count-text">Количество сформированных qr-кодов:&nbsp</span><span class="main__count main__count--download">0</span></p>
        </div>
      </div>
      <div class="wrap wrap--table">
        <header class="tab tab--download"></header>
        <div class="table table--download">
          <header class="table__header">
            <div class="table__cell table__cell--header table__cell--codepicture" data-name="codepicture"><span class="table__text table__text--header">Код для изображения</span></div>
            <div class="table__cell table__cell--header table__cell--cardid" data-name="cardid"><span class="table__text table__text--header">ID qr-кода</span></div>
            <div class="table__cell table__cell--header table__cell--cardname" data-name="cardname"><span class="table__text table__text--header">Номер qr-кода</span></div>
            <div class="table__cell table__cell--header table__cell--delete"></div>
          </header>
          <div class="table__body" id="tableDownload">
            <p class="table__nothing">Новых данных нет</p>
          </div>
        </div>
      </div>
      <div class="info">
        <p class="info__item info__item--warn info__item--fields">Предупреждение! Не верно введена строка с кодом.</p>
        <p class="info__item info__item--warn info__item--users">Предупреждение! Нет новых пользователей для присвоения qr-кода.</p>
      </div>
      <div class="main__btns">
        <button class="btn btn--assign" id="submitDownloadQR" type="button">Присвоить</button>
      </div>
    </div>
  </div>
</main>