
<header class="header">
  <div class="container">
    <div class="header__btns">
      <button class="btn btn--control" type="button" data-name="const">Добавить постоянную карту</button>
      <button class="btn btn--control" type="button" data-name="time">Добавить временную карту</button>
      <button class="btn btn--control" type="button" data-name="qr">Добавить QR-код</button>
      <button class="btn btn--control" type="button" data-name="download">Загрузить QR-код</button>
      <button class="btn btn--control" type="button" data-name="permis">Разрешение на добавление</button>
      <button class="btn btn--control" type="button" data-name="add">Добавить пользователя</button>
      <button class="btn btn--control" type="button" data-name="remove">Удалить пользователя</button>
    </div>
  </div>
</header>