
<main class="main" data-name="remove">
  <div class="container">
    <h1 class="main__title">Удалить пользователя</h1>
    <form class="form" action="#" method="GET">
      <div class="form__wrap">
        <div class="form__field"><span class="form__name">Пользователь</span>
          <div class="form__select form__item select" data-field="FIO" data-select="fio">
            <header class="select__header"><span class="select__value" data-title="title">Выберите пользователя</span></header>
            <ul class="select__list"></ul>
          </div>
        </div>
        <div class="form__field"><span class="form__name">Подразделение/факультет</span>
          <div class="form__select form__item select" data-field="Department" data-type="NameID" data-select="name-id">
            <header class="select__header"><span class="select__value" data-title="title" data-name-id="name-id">Выберите подразделение/факультет</span></header>
            <ul class="select__list">
              <li class="select__item"><span class="select__name" data-title="Химический факультет" data-name-id="ChemDep">Химический факультет</span></li>
              <li class="select__item"><span class="select__name" data-title="Химический факультет" data-name-id="ChemDep">Химический факультет</span></li>
              <li class="select__item"><span class="select__name" data-title="Химический факультет" data-name-id="ChemDep">Химический факультет</span></li>
              <li class="select__item"><span class="select__name" data-title="Химический факультет" data-name-id="ChemDep">Химический факультет</span></li>
              <li class="select__item"><span class="select__name" data-title="Химический факультет" data-name-id="ChemDep">Химический факультет</span></li>
            </ul>
          </div>
        </div>
        <div class="form__field"><span class="form__name">Причина удаления</span>
          <div class="form__select form__item select" data-field="TitleID" data-type="StatusID" data-select="reason">
            <header class="select__header"><span class="select__value" data-title="title" data-reason="type">Выберите причину удаления</span></header>
            <ul class="select__list">
              <li class="select__item"><span class="select__name" data-title="Перевод в другое подразделение" data-reason="changeDepart">Перевод в другое подразделение</span></li>
              <li class="select__item"><span class="select__name" data-title="Увольнение" data-reason="remove">Увольнение</span></li>
            </ul>
          </div>
        </div>
        <div class="form__field form__field--depart"><span class="form__name">Новое подразделение/факультет</span>
          <div class="form__select form__item select" data-field="NewDepart" data-type="NewNameID" data-select="new-name-id">
            <header class="select__header"><span class="select__value" data-title="title" data-new-name-id="new-name-id">Выберите подразделение/факультет</span></header>
            <ul class="select__list">
              <li class="select__item"><span class="select__name" data-title="Факультет компьютерных наук" data-new-name-id="CSDep">Факультет компьютерных наук</span></li>
              <li class="select__item"><span class="select__name" data-title="Факультет компьютерных наук" data-new-name-id="CSDep">Факультет компьютерных наук</span></li>
              <li class="select__item"><span class="select__name" data-title="Факультет компьютерных наук" data-new-name-id="CSDep">Факультет компьютерных наук</span></li>
              <li class="select__item"><span class="select__name" data-title="Факультет компьютерных наук" data-new-name-id="CSDep">Факультет компьютерных наук</span></li>
              <li class="select__item"><span class="select__name" data-title="Факультет компьютерных наук" data-new-name-id="CSDep">Факультет компьютерных наук</span></li>
            </ul>
          </div>
        </div>
      </div>
      <button class="btn btn--form" id="removeUser" type="button" data-type="remove-user">Удалить</button>
    </form>
    <div class="wrap wrap--content wrap--content-remove-item">
      <div class="main__cards main__cards--main">
        <p class="main__count-wrap main__count-wrap--depart"><span class="main__count-text">Количество удаленных пользователей:&nbsp</span><span class="main__count main__count--remove">0</span></p>
      </div>
      <div class="wrap wrap--table">
        <header class="tab tab--remove"></header>
        <div class="table table--remove">
          <header class="table__header">
            <div class="table__cell table__cell--header table__cell--fio"><span class="table__text table__text--header">Фамилия Имя Отчество</span>
              <button class="btn btn--sort" type="button" data-direction="true"></button>
            </div>
            <div class="table__cell table__cell--header table__cell--department"><span class="table__text table__text--header">Подразделение/факультет</span></div>
            <div class="table__cell table__cell--header table__cell--titleid"><span class="table__text table__text--header">Причина удаления</span></div>
            <div class="table__cell table__cell--header table__cell--new-depart"><span class="table__text table__text--header">Новое подразделение/факультет</span></div>
          </header>
          <div class="table__body" id="tableRemove">
            <p class="table__nothing">Не добавленно ни одного пользователя</p>
          </div>
        </div>
      </div>
    </div>
    <div class="info">
      <p class="info__warn info__warn--fields">Предупреждение! Не все поля заполнены.</p>
      <p class="info__warn info__warn--table">Предупреждение! Ни одного пользователя не выбрано.</p>
    </div>
    <div class="main__btns">
      <button class="btn" id="submitRemoveUser" type="button">Подтвердить и отправить</button>
    </div>
  </div>
</main>